*, body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 12px; */
}

.info-box {
    background: #FDFDFD;
border: 2px solid #C4C4C4;
box-sizing: border-box;
box-shadow: 0px 0px 4px 5px #E5E5E5;
border-radius: 10px;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.vic-info-box {
    background: #FDFDFD;
border: 1px solid #8C8C8C;
box-sizing: border-box;
border-radius: 5px;
}

.inner-box {
    background: #FDFDFD;
border: 2px solid #C4C4C4;
box-sizing: border-box;
box-shadow: 0px 0px 4px 5px #E5E5E5;
border-radius: 10px;
}

.middle-box {
    background: #F9F9F9;
border: 4px solid #CECECE;
box-sizing: border-box;
box-shadow: 1px 10px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 30px 30px;
}

.outer-box {
    background: #EBEBEB;
border: 5px solid #D0D0D0;
box-sizing: border-box;
box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 50px 50px;
}

.update span:first-child {
    padding: 10px 20px;
    background: #374988;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px 8px 20px 20px;
color: white;
}

.update sup {
    background: #F71643;
box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
color: white;
padding: 9px;
border-radius: 50%;
top: -15px;
font-size: 32px;
}